name: Upload website to s3

on:
  push:
    branches:
    - master

jobs:
  deploy:
    runs-on:  ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: jakejarvis/s3-sync-action@master
    # - uses: shallwefootball/s3-upload-action@master
      with:
       args: --acl public 2 --follow-symlinks --delete
    env:
      AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: 'eu-west-1'
      SOURCE_DIR: 'Website_temp'
     