name: Upload website to s3

on:
  push:
    branches:
    - master

jobs:
  deploy:
    runs-on:  ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: shallwefootball/s3-upload-action@master
      with:
        aws_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
        aws_bucket: ${{ secrets.AWS_S3_BUCKET }}
        source_dir: 'Website_temp'